---
import '@fontsource/inter'
import '@fontsource/handjet/500.css'
import '@fontsource/outfit'
import { ViewTransitions } from 'astro:transitions'
import Footer from '../components/Footer.astro'

export interface Props {
  title: string
  ogImage?: string
  canonicalURL?: string
  description?: string
}

const {
  title,
  ogImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  description,
} = Astro.props

const socialImageURL = new URL(
  ogImage ? `/assets/og/${ogImage}` : '/thatarif-og.jpg',
  Astro.url.origin,
).href

let desc = description ? description : 'Portfolio website of Arif Imran'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={desc} />
    <meta name='viewport' content='width=device-width' />
    <link rel='manifest' href='/manifest.json' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='icon' href='/favicon/favicon.ico' />
    <meta name='generator' content={Astro.generator} />

    <!-- Open Graph / Facebook -->
    <meta property='og:title' content={title} />
    <meta property='og:description' content={desc} />
    <meta property='og:url' content={canonicalURL} />
    <meta property='og:image' content={socialImageURL} />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={canonicalURL} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={desc} />

    <!-- Google tag (gtag.js) -->
    <script
      type='text/partytown'
      async
      src='https://www.googletagmanager.com/gtag/js?id=G-TWWDC6BFS5'></script>
    <script type='text/partytown'>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-TWWDC6BFS5')
    </script>

    <ViewTransitions fallback='none' />
    <title>{title}</title>
  </head>
  <body class='bg-gray-950 relative min-h-screen'>
    <div
      class='absolute flex justify-center z-[-999] inset-0 pointer-events-none bg-center bg-[url(/assets/paper-bg-dark.jpg)]'
    >
    </div>
    <div
      class='bg-[url(/assets/grid.svg)] bg-contain pointer-events-none absolute opacity-60 inset-0'
    >
    </div>

    <main class='max-w-2xl px-4 mx-auto md:px-0'>
      <header class='flex justify-between py-8 md:mb-10 font-round'>
        <a
          class='italic text-[#636363] underline transition-colors duration-200 hover:text-accent'
          href='/'>thatarif</a
        >

        <div class='space-x-1'>
          <a
            class='italic underline text-[#636363] transition-colors duration-200 hover:text-accent'
            href='/posts'>blog</a
          >
          <span class='text-[#636363]'>/</span>
          <a
            class='italic underline text-[#636363] transition-colors duration-200 hover:text-accent'
            href='/crafts'>craft</a
          >
          <span class='text-[#636363]'>/</span>
          <a
            class='italic underline text-[#636363] transition-colors duration-200 hover:text-accent'
            href='/projects'>projects</a
          >
        </div>
      </header>
      <div transition:animate='fade'>
        <slot />
      </div>

      <Footer />
    </main>
    <style is:global>
      body::-webkit-scrollbar {
        width: 10px;
      }

      pre::-webkit-scrollbar {
        height: 10px;
      }

      body::-webkit-scrollbar-thumb,
      pre::-webkit-scrollbar-thumb {
        background: #e7ffa3;
        border-radius: 20px;
        -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.4);
        box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.4);
      }

      body::-webkit-scrollbar-track,
      pre::-webkit-scrollbar-track {
        background: #ffffff20;
        border-radius: 20px;
      }
    </style>
  </body>
</html>
